/*---------------Styling of Navigation Bar --------------- */

img.logo {
   float: left;
   margin-left: 5%;
   margin-top: 0.3%;
   height: auto;
   width: auto;
   max-width: 250px;
   max-height: 90%;
   vertical-align: middle;
}

@media screen and (max-width: 450px){
  .nav-wrapper .logo {margin-left: 0px;}
}

.nav-list {
  display: inline-block;
  vertical-align: middle;
}

.nav-list a {
  color: rgb(75, 73, 255);
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 15px;
  transition: 0.6s ease;
}

/*-------------- End of Navigation Bar -------------*/




/*------------------------ Styling of Landing Page --------------------------------*/ 


 /*-------------FEEDBACK THEMING-------------------*/

 #feeds {
    margin: 50px;
    border-top: 1px solid rgb(223, 223, 223);
    border-bottom: 1px solid rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    margin-left: 11.25%;
    width: 90%;
    max-width: 1000px;
    font-family: Avenir;
    flex: 0 0 auto;
    padding: 20px;
 }

 .feed-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
 }

 .feedback {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
 }

 .feedback-container {
    font-weight: bold;
    position: relative;
    margin: 0px 20px;
 }

 .feed-svg > svg {
    height: 150px;
    width: 310px;
 }

 .feedback-content {
    position: absolute;
    top: 20px;
    width: 280px;
    left: 25px;
    font-weight: normal;
 }

 .feedback-owner {
    position: absolute;
    right: 25px;
    bottom: 58px;
    text-align: left;
 }

 .feedback-owner-position {
    font-weight: normal;
    font-style: italic;
    position: absolute;
    right: 25px;
    bottom: 40px;
    text-align: left;
 }

 @media screen and (max-width: 320px) {
   .nav-wrapper {width: 105%;}
   .slider {width: 105%;}
   .page-footer {width: 105%;}
   .feedback-container {width: 90%;}
   #owl-1 {width: 105%;}
   .owl-item { width: 100%; }
 }

 @media screen and (max-width: 1200px) {
   #feeds {margin-left: 5%;}
 }
/*--------   END OF FEEDBACK STYLING    ------*/


/*------- FOOTER STYLING -------------*/
.footer-logo {
  width: 13%; 
  height: auto; 
  display: block; 
  float: left;
}

.name {
  margin-left: 60px; 
  color:rgb(75, 73, 255);
}

.footer-info {
  color: rgb(75, 73, 255);
}

.connect-us {
  color: rgb(75, 73, 255);
}

.connect-list {
  margin-top: 5px;
}

.social-media-img {
  width: 7%; 
  height: auto; 
  display: block; 
  float: left;
}

.social-media-linkedin{
  width: 8%; 
  height: auto; 
  display: block; 
  float: left;
}

.social-media-link {
  color:rgb(75, 73, 255);
  margin-left: 15px;
}
/*------- END OF FOOTER STYLING ------*/


/* ----------------------------- End of Landing Page ----------------------- */



/* ----------------------  Styling of Subject-Page  ----------------------------- */

.subjectname {
  color: #606066;
  text-shadow: 2px 2px 4px #c4c4c4;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 5%;
  font-size: 18px;
}

.subject {
  margin-top: 10px; 
  border-top: 4px solid rgb(201, 200, 255); 
  /*border-bottom: 4px solid rgb(201, 200, 255);*/
 }

 .sidebar {
  height: 100%; 
  width: 280px; 
  position: fixed; 
  z-index: 1; 
  top: 148px;
  left: 0;
  background-color: #fff; 
  overflow-x: hidden; 
  transition: 0.5s;
  border-right: 4px solid rgb(201, 200, 255);
 }  

 .subject-bar {
  background: #fff; 
  display: flex; 
  flex-direction: column; 
  position: relative; 
  flex: 0 1 300px; 
  padding: 0px 15px 0px;
 }

 .subject-module {
   color: black; 
   font-weight: bold; 
   font-size: 18px; 
   margin: 30px 0px 15px;
 }

 .bar-design {
  border: 0px; 
  background-color: rgb(201, 200, 255); 
  margin: 0px 0px 15px; 
  height: 5px; 
  max-width: 250px;
  border-radius: 1000px;
 }

 .subject-topic-bar {
  height: 432px;
  overflow-y: auto; 
  flex: 1 1 auto; 
  margin: 4px -15px 0px; 
  padding: 0px 15px 0px; 
  list-style: none;
 }

.subject-topic-subbar {
  display: flex; 
  flex-direction: column; 
  margin-left: 12px; 
  margin-right: 12px; 
  margin-bottom: 30px; 
  flex: 0 0 auto;
}

 /*------ Scrollbar for Subject-Chapter Box ----------*/

.subject-topic-bar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}

.subject-topic-bar::-webkit-scrollbar
{
  width: 7px;
  background-color: #e3e8e3;
  border-radius: 10px; 
}

.subject-topic-bar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #bfc1bf;
}

/*------------- end of scrollbar styling ------------- */

.subject-topic {
  display: flex; 
  flex-wrap: nowrap; 
  -webkit-box-pack: start; 
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 12px 0px; 
  overflow: visible; 
  border-left: 1px solid rgb(78, 189, 211);
}

.topic-bullet {
  flex: 0 0 auto; 
  margin: -16px 0px 0px -6px;
}

#bullet {
  overflow: hidden;
}

.topic-name {
  font-size: 16px; 
  flex: 0 1 auto; 
  margin: -16px 4px auto 18px; 
  text-decoration: none; 
  overflow: hidden; 
  transition: all 0.2s ease 0s; 
  color: black;
}

.topic-name div span:hover {
  color: rgb(75, 73, 255);
}

/* Changing the Font style of topic name when active */
.active {
  font-weight: bold;
}

#topic-content {
    position: relative;
    margin-left: 250px;
    transition: margin-left .5s;
}

.resp-iframe {
    top: 0%;
    left: 0px;
    width: 100%;
    height: 78vh;
}

.activator .image-icon {
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 100%;
}

/*
#topic-content {
  transition: margin-left .5s; 
  padding: 0px;
  width:100%; 
  margin-left: 250px;
}*/

/* FOR MEDIA SCREEN DEVICES */ 

@media screen and (max-width: 420px) and (max-height: 640px) {
  #topic-content .resp-iframe{height: 75vh;} 
  .sidebar { top: 144px; width: 250px;}
}

@media screen and (max-width: 450px) and (max-height: 670px){
  .subjectname {font-size: 17px; margin-left: 20px; margin-top: 15px;}
  .subject-1 {height: 330px;}
  #topic-content .resp-iframe{height: 78vh;}
  .sidebar { top: 144px; width: 250px;}
  
}

@media screen and (max-width: 450px) and (min-height: 700px){
  .subjectname {font-size: 17px; margin-left: 20px; margin-top: 15px;}
  #topic-content .resp-iframe{height: 78vh;}
  .sidebar {top: 144px; width: 0px;}
  #topic-content {margin-left: 0px;}
  #test {width: 100%;}
}

@media screen and (min-height: 800px) {
  #topic-content .resp-iframe{height: 80vh;}  
}

@media screen and (min-height: 900px) {
  #topic-content .resp-iframe{height: 82vh;}  
}

@media screen and (min-height: 1000px) {
  #topic-content .resp-iframe{height: 85vh;}  
}

@media screen and (min-height: 1200px) {
  #topic-content .resp-iframe{height: 87vh;}  
}

/* Styling of Buttons for Previous and Next Topic in Topic Content */

.prev-next-functionality {
  font-family: Avenir;
  margin-top: 40px;
}

.prev-next-sub {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 10px;
}

.prev {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 76px;
    background-color: white;
    color: #3bc654;
    border-radius: 99px;
    padding: 10px 40px;
    transition: all 0.2s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: #3bc654;
    border-image: initial;
    margin-left: 60px;
    margin-bottom: 40px;
}

.prev:hover {
   background-color: #3bc654;
   color: white;
   border-color: #3bc654;
}

.prev em {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.prev span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
}

.next {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 76px;
    background-color: white;
    color: #3bc654;
    margin-left: auto;
    text-align: right;
    border-radius: 99px;
    padding: 10px 40px;
    transition: all 0.2s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: #3bc654;
    border-image: initial;
    margin-right: 60px;
    margin-bottom: 40px;
}

.next:hover {
   background-color: #3bc654;
   color: white;
   border-color: #3bc654;
}

.next em {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.next span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
}

/* Stylizing previous and next buttons for small screens */
@media screen and (max-width: 480px) {
  .subject-bar {
    width: 100%;
  }
  .code {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .simulation {
    font-size: 4px;
  }

  .block-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
  }

  .prev {
    width: 30%;
    height: 30%;
    margin-left: 30px;
    padding: 10px 10px;
  }

  .prev em {
    font-size: 12px;
  }
  
  .prev span {
    font-size: 10px;
  }

  .next {
    width: 30%;
    height: 30%;
    margin-right: 30px;
    padding: 10px 10px;
  }

  .next em {
    font-size: 12px;
  }
  
  .next span {
    font-size: 10px;
  }

}




/*-------------------  end of Subject Page styling  ------------------------------*/



/*---------  Styling of Topic Content ----------------*/

.content h3 {
  margin-top: 30px; 
  margin-bottom: 20px; 
  font-family: 'Avenir Black' !important; 
  font-weight: bold;
  margin-left: 50px; 
  margin-right: 50px;
  overflow-x: hidden;
}

.block-content {
  padding: 20px 10px 50px; 
  font-family: 'Avenir Black' !important; 
  margin-bottom: 30px; 
  margin-left: 50px; 
  margin-right: 50px; 
  border-top: 1px solid rgb(223, 223, 223); 
  border-bottom: 1px solid rgb(223, 223, 223);
  overflow-x: hidden;
}

.block-content h5 {
  margin-top: 10px; 
  font-weight: bold;
}

.block-content p {
  font-size: 20px;
}

.block-content ul {
  list-style-type:disc; 
  font-size: 20px;
}

.figure-title {
  margin-top: 0px; 
  font-size: 20px;
}

h5.code-title {
  margin-top: 50px; 
  margin-left: 40px; 
  font-weight: bold;
}

.code {
  margin-left: 15px; 
  background-color: 
  rgb(243, 243, 247); 
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,.07); 
  padding: 10px 0px 0px; 
  border-left: 5px solid rgb(201, 200, 255);
}

/*Scrollbar for topic content*/
.content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}

.content::-webkit-scrollbar
{
  width: 10px;
  background-color: #e3e8e3;
  border-radius: 10px; 
}

.content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #bfc1bf;
}
/* end of scrollbar styling of topic content */

.simulation {
  overflow-y: auto; 
  overflow-x: auto; 
  font-size: 12px; 
  padding-left: 10px;
}

/*Scrollbar Code Snippet*/
.simulation::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}

.simulation::-webkit-scrollbar
{
  width: 8px;
  background-color: #fff;
  border-radius: 10px; 
}

.simulation::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #bfc1bf;
}
/* end of scrollbar styling of Code Snippet */

/*---------end of styling Topic Content ------------*/