{% extends 'main.html' %}
{% block content %}

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Subject</title>
   
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/Distributed_System/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">

 </head> 

<body>

  <div class="subject-func">	
	<h5 class="subjectname">DISTRIBUTED SYSTEM</h5>
    <btn onclick="openNav()" class="btn show_btn" id="HideShow" style="margin-left: 5%;"><i class="material-icons">menu</i></btn>
  </div>


 <section id="subject-topics">

  <div class="subject">   
  
	<div class="sidebar" id="mySidebar">
      
      <div class="subject-bar" id="sub1">

   		<h5 class="subject-module">CHAPTERS</h5>
   		<div class="bar-design"><span>&nbsp</span></div>
        
        <!--TOPIC-LIST-DIV-->
        <div class="subject-topic-bar">

          <div class="subject-topic-subbar">
           
           <!--TOPIC NAME DIV-->
        	<div class="subject-topic">

        	  <div class="topic-bullet"> <!-- BULLETS DIV -->
        		<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
        		 <g id="bullet" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
        		  <g id="bullet-formation" transform="translate(-135.000000, -351.000000)" stroke="#979797">
        		 	<circle id="Oval-10" cx="140.5" cy="357" r="5" stroke="rgb(78, 189, 211)"></circle>
        		  </g>
        		 </g>
        		</svg> 
        	  </div>  <!-- END OF BULLETS DIV -->

        		<a class="topic-name" href="{% url 'content' %}" target="test1">
        			<div><span>CAP Theorem</span></div>
        		</a>	
        	</div>
            <!-- END OF TOPIC NAME DIV-->
            
            <!--TOPIC NAME DIV-->
        	<div class="subject-topic">

        	 <div class="topic-bullet">  <!-- BULLETS DIV -->
        		<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
        		  <g id="bullet" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
        		 	<g id="bullet-formation" transform="translate(-135.000000, -351.000000)"stroke="#979797">
        		 	  <circle id="Oval-10" cx="140.5" cy="357" r="5" stroke="rgb(78, 189, 211)"></circle>
        		 	</g>
        		  </g>
        		</svg> 
        	 </div>  <!-- END OF BULLETS DIV -->

        		<a class="topic-name" href="{% url 'chapter2' %}" target="test1">
        			<div><span>Consistent Hashing</span></div>
        		</a>	
            </div>
            <!-- END OF TOPIC NAME DIV-->

            <!--TOPIC NAME DIV-->
            <div class="subject-topic">

             <div class="topic-bullet"> <!-- BULLETS DIV -->
                <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
                  <g id="bullet" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
                    <g id="bullet-formation" transform="translate(-135.000000, -351.000000)"stroke="#979797">
                      <circle id="Oval-10" cx="140.5" cy="357" r="5" stroke="rgb(78, 189, 211)"></circle>
                    </g>
                  </g>
                </svg> 
             </div>  <!-- END OF BULLETS DIV -->

                <a class="topic-name" href="{% url 'content' %}" target="test1">
                    <div><span>Sharding</span></div>
                </a>    
            </div>
            <!-- END OF TOPIC NAME DIV-->

            <!--TOPIC NAME DIV-->
            <div class="subject-topic">

             <div class="topic-bullet">  <!-- BULLETS DIV -->
                <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
                  <g id="bullet" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
                    <g id="bullet-formation" transform="translate(-135.000000, -351.000000)"stroke="#979797">
                      <circle id="Oval-10" cx="140.5" cy="357" r="5" stroke="rgb(78, 189, 211)"></circle>
                    </g>
                  </g>
                </svg> 
             </div>  <!-- END OF BULLETS DIV -->

                <a class="topic-name" href="{% url 'content' %}" target="test1">
                    <div><span>Consistency</span></div>
                </a>    
            </div>
            <!-- END OF TOPIC NAME DIV-->
           
          </div> <!-- end of div "subject-topic-subbar" -->
       
         </div>  <!-- end of div "subject-topic-bar" -->

         <!--END OF TOPIC LIST DIV-->

             
      </div>   <!-- end of div "subject-bar" -->

    </div>    <!-- end of div "sidebar" -->
        

        <!-- Script for Darkening the active topic of subject -->
        <script>
        	$(document).ready(function () {
               $('.subject-topic-subbar .subject-topic a div').find('span').click(function () {
                 //removing the previous selected menu state
               $('.subject-topic-subbar .subject-topic a div').find('span.active').removeClass('active');
                 //adding the state for this selected menu
               $(this).addClass('active');
              });
            });
        </script>
       
       <!-- Script for Opening and Closing Subject Nav-bar -->
       <!--<script>
   	    function openNav() {
   	      if (document.getElementById("test1").style.width === "100%"){
   	 	   var width = window.innerWidth;
   	 	     if (width <= 450){
   	 		    document.getElementById("mySidebar").style.width = "100%";
                document.getElementById("topic-content").style.marginLeft = "100%";
                document.getElementById("test1").style.width =  "0";
   	 	     }
   	 	    else {  
               document.getElementById("mySidebar").style.width = "250px";
               document.getElementById("topic-content").style.marginLeft = "250px";
               document.getElementById("test1").style.width =  "80.7%";
             }   
          }
        else{
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("topic-content").style.marginLeft = "0";
              document.getElementById("test1").style.width =  "100%";
          }
       }
      </script>-->
    
    <!-- TOPIC CONTENT -->
   <!-- <div id="topic-content"> 
      <iframe src="{% url 'content' %}" height="515" width="80.7%" frameborder="0" name="test1" id="test1">
   	  </iframe> 
    </div> -->

    <div id="topic-content">
        <iframe class="resp-iframe" src="{% url 'content' %}" frameborder="0" name="test1" id="test1">
       </iframe>
      </div>
       
    </div>

     <style>
       body, html {width: 100%; height:100%; margin: 0px; padding: 0; overflow: hidden;}
     </style>
    <!-- END OF TOPIC CONTENT --> 
    <script>
    function openNav() {

          var width = window.innerWidth;

          if (document.getElementById("topic-content").style.marginLeft === "0px"){
            
            if(width<=450)
            {  document.getElementById("mySidebar").style.width = "100%";
               document.getElementById("topic-content").style.marginLeft = "100%";
               document.getElementById("test1").style.width =  "0";                            
            }
            else{
             document.getElementById("mySidebar").style.width = "250px";
             document.getElementById("topic-content").style.marginLeft = "250px";
             document.getElementById("test1").style.width =  "100%";
            } 
          }
          else
          {   document.getElementById("mySidebar").style.width = "0";
              document.getElementById("topic-content").style.marginLeft = "0";
              document.getElementById("test1").style.width =  "100%";
          }    
       }
     </script>  

  </div>   <!-- end of div "subject" --> 

 </section>  <!-- end of section "subject-topics" -->

</body>

</html>
{% endblock %}
