{% extends 'main.html' %}
{% block content %}

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>

    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">

    <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">  
      </script>-->

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Local-->
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">

    <!--jQuery-->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script type = "text/javascript"  
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>-->

 </head>        

  <!--<div class="container">-->
     <div class="slider">  
       <ul class="slides" style="box-shadow: 5px 20px 35px rgba(50,50,93,0.1), 5px 10px 15px rgba(0,0,0,.07);">  
         <li>  
           <img src="{% static 'images/4.jpg' %}">  
              <!-- random image -->  
           <div class="caption center-align">  
             <h3 style="color: #bababc">WELCOME TO TECH TAKSHILA</h3>  
             <h5 class="grey-text.text-darken-1">Slogan.</h5>  
           </div>  
         </li>  
         <li>  
           <img src="{% static 'images/6.jpg' %}">  
              <!-- random image -->  
           <div class="caption center-align">  
             <h3 class="grey-text.text-darken-1">WELCOME TO TECH TAKSHILA</h3>    
             <h5 class="grey-text.text-darken-1">Slogan.</h5>  
          </div>  
        </li>  
        <li>  
          <img src="{% static 'images/3.jpg' %}">  
            <!-- random image -->  
          <div class="caption center-align">  
            <h3 style="color: #3b464f">WELCOME TO TECH TAKSHILA</h3>    
            <h5 style="color: #3b464f">Slogan.</h5>  
          </div>  
        </li>  
        <li>  
          <img src="{% static 'images/5.jpg' %}">  
            <!-- random image -->  
         <div class="caption center-align">  
            <h3 class="grey-text.text-darken-1">WELCOME TO TECH TAKSHILA</h3>    
            <h5 class="grey-text.text-darken-1">Slogan.</h5>  
         </div>  
        </li> 

        <div class="subject-wrapper">
          <div class="testimonial-carousel section-padding owl-carousel">

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Distributed System</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>System Design</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Networking</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Cloud Computing</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Product Management</h6>
              </div>  
            </div>

          </div>
        </div>
      </ul>
      
     </div>
   <!--</div>--> 

<!--        <div class="subject-wrapper">
          <div class="testimonial-carousel section-padding owl-carousel">

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Distributed System</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>System Design</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Networking</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Cloud Computing</h6>
              </div>  
            </div>

            <div class="single-test">
              <div class="img-area">
                <img src="{% static 'images/book-icon.png' %}">
              </div>
              <div class="text-area">
                <h6>Product Management</h6>
              </div>  
            </div>

          </div>
        </div>-->

        <script src="{% static 'js/owl.carousel.js' %}"></script>
        <script>
          $('.testimonial-carousel').owlCarousel({
              loop:true,
              margin:20,
              autoplay:true,
              responsive:{
                     0:{
                          items:1
                       },
                   400:{
                          items:2
                       },
                  800:{
                          items:3
                       }
                    }
                })
        </script>

        
        <h3 class="subjects"style="margin-top: 400px;">SUBJECTS</h3>
        <div class="carousel" style="margin-top: 0px;">
           
           <a class="carousel-item" href="{% url 'course2' %}">
             <div class="book-icons">
              <!--<div class="book-container">-->
               <img src="{% static 'images/book-icon.png' %}" class="book-icons-img">
               <!--<img src="{% static 'images/book-hover.png' %}" class="book white-img">-->
              <!--</div>-->
               <h6 class="book-icon-text">Distributed System</h6>
             </div>
           </a>

           <a class="carousel-item" href="#two!"><div class="book-icons"><img src="{% static 'images/book-icon.png' %}" class="book-icons-img"><h6 class="book-icon-text">System Design</h6></div></a>

           <a class="carousel-item" href="#three!"><div class="book-icons"><img src="{% static 'images/book-icon.png' %}" class="book-icons-img"><h6 class="book-icon-text">Networking</h6></div></a>

           <a class="carousel-item" href="#four!"><div class="book-icons"><img src="{% static 'images/book-icon.png' %}" class="book-icons-img"><h6 class="book-icon-text">Product Management</h6></div></a>

           <a class="carousel-item" href="#five!"><div class="book-icons"><img src="{% static 'images/book-icon.png' %}" class="book-icons-img"><h6 class="book-icon-text">Cloud Computing</h6></div></a>
           
        </div> 
        

  <script>
    $(function () {
      M.AutoInit();
    
      const slider = document.querySelector('.slider');
    
      M.Slider.init(slider,{
        indicators: true,
        height: 450,
        transition: 300,
        interval: 6000
      });
    })   
  </script>
      
    <h3 class="subjects">TWITTER FEEDS</h3>
    <div class="twitter" style="margin-top: 100px; border: 1px solid lightblue; margin-left: auto; margin-right: auto; display: block; width: 60%; padding: 60px 150px; background-image: linear-gradient(to bottom, #fff, #f2f2f2); box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,.07); border-radius: 60px;">
      
      <div class="twitter-heading">
        <img src="{% static 'images/twitter-icon.png' %}" style="width: 8%; height: auto; display: block; float: left;">
        <h4 style="color: #7cc2d6; margin-left: 50px;">Follow Us on Twitter</h4>
      </div>  

      <a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-lang="en" data-show-count="false">Follow @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <a class="twitter-timeline" data-lang="en" data-width="1200" data-height="400" href="https://twitter.com/TwitterDev/likes?ref_src=twsrc%5Etfw">Tweets Liked by @TwitterDev</a></div>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <footer class="page-footer" style="background-color: #41af57; margin-top: 70px;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
            
                  <img src="{% static 'images/Logo-2.png' %}" style="width: 13%; height: auto; display: block; float: left;"> 
                  <h5 class="white-text" style="margin-left: 60px;">TECH TAKSHILA</h5>  
                <p class="grey-text text-lighten-4">Tech Takshila</p>
                <p class="grey-text text-lighten-4">techtakshila@gmail.com</p>
                <p class="grey-text text-lighten-4">www.techtakshila.com</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect Us</h5>
                <ul>
                  <li style="margin-top: 5px;">
                    <img src="{% static 'images/Twitter-icon.png' %}" style="width: 7%; height: auto; display: block; float: left;">
                    <a class="grey-text text-lighten-3" href="#!" style="margin-left: 15px;">Twitter</a>
                  </li>
                  <li style="margin-top: 5px;">
                    <img src="{% static 'images/linkedin-icon.png' %}" style="width: 8%; height: auto; display: block; float: left;">
                    <a class="grey-text text-lighten-3" href="#!" style="margin-left: 15px;">LinkedIn</a>
                  </li>
                  <li style="margin-top: 5px;">
                    <img src="{% static 'images/facebook-icon.png' %}" style="width: 7%; height: auto; display: block; float: left;">
                    <a class="grey-text text-lighten-3" href="#!" style="margin-left: 15px;">Facebbok</a>
                  </li>
                  <li style="margin-top: 5px;">
                    <img src="{% static 'images/instagram-icon.png' %}" style="width: 7%; height: auto; display: block; float: left;">
                    <a class="grey-text text-lighten-3" href="#!" style="margin-left: 15px;">Instagram</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            </div>
          </div>
        </footer>

</body>
</html>
{% endblock %}