<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
   <!--<link rel="stylesheet" href="https://site-static-files-storage.s3.ap-south-1.amazonaws.com/static/css/style.css?"/> -->

  <!--<link rel="stylesheet" href="https://d3kxw7nmigeyyt.cloudfront.net/static/css/style.css"/>-->
  <!--<link rel="stylesheet" href="{% static 'css/distributed-system/consistent-hashing/style.css' %}">-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/Distributed_System/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/vs.css' %}">

<body class="simulation" style="overflow-y: auto; overflow-x: auto; font-size: 12px; padding-left: 10px;">
  {% load pygmentify %}
    {% pygment %}      
    <pre lang="java">

import java.util.SortedMap;
import java.util.TreeMap;

public class LoadBalancingImpl<T> {

   private HashFunction hashFunction;

   public LoadBalancingImpl(HashFunction hashFunction){
       this.hashFunction = hashFunction;
   }

   private SortedMap<Integer, T> circle = new TreeMap<>();


   public void add(T node) {
       circle.put(hashFunction.hashCode(node), node);
   }

   public void remove(T node) {
       circle.remove(hashFunction.hashCode(node));

   }

   public T getServer(T key) {
       if(circle.isEmpty()){
           return null;
       }
       int hash = hashFunction.hashCode(key);
       if(!circle.containsKey(hash)) {
           SortedMap<Integer, T> tailMap =
                   circle.tailMap(hash);
           hash = tailMap.isEmpty() ?
                   circle.firstKey() : tailMap.firstKey();
       }
       return circle.get(hash);
   }
}

public interface HashFunction<T> {

   public int hashCode(T t);
}

public class StringHashFunction implements HashFunction<String>{

   public int hashCode(String s){
       int hash = 7;
       for (int i = 0; i < s.length(); i++) {
           hash = hash*31 + s.charAt(i);
       }
       return hash;
   }
}


public class LoadBalancing {

  public static void main(String[] args) {

   LoadBalancingImpl<String> loadBalancing = 
          new LoadBalancingImpl<>(new StringHashFunction());
   loadBalancing.add("A");
   loadBalancing.add("D");
   loadBalancing.add("H");
   loadBalancing.add("T");

   System.out.println(loadBalancing.getServer("Z"));
  }
}

    </pre>    
    {% endpygment %}

  </body>
 </html>     
