.topnav {
    background-color: #1f2c42;
    overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid;
}

.topnav a:hover {
  background-color: #f79d02;
  color: black;
}

.Image {
	display: block; 
	margin-left: auto;
	margin-right: auto; 
	width: 60%;
}

.Image2 {
	display: block; 
	margin-left: auto;
	margin-right: auto; 
	width: 75%;
}